# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
bin
build

# dependencies

# IDEs and editors
.classpath
.project
.settings
.idea

# IDE - VSCode

# System Files
.DS_Store
Thumbs.db
